.text-container {
    width: 250px;
    height: 100%;
    padding: 20px;
    background-color: whitesmoke;
    margin: 1rem;
    font-size: 1rem;
    border: double 10px black;
}

body {
    background-color: antiquewhite;
}

p {
    min-height: 24px;
}